<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#allmap{width:100%;height:500px;}
		p{margin-left:5px; font-size:14px;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kTeTU4YDNM6WtE1xbMwgQvrf"></script>
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<title>给多个点添加信息窗口</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript" charset="utf-8" >
	var url = "/gpsdata";
    xmlhttp  = new XMLHttpRequest();
    var myArr;
    xmlhttp.onreadystatechange = function() {
	    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	        myArr = JSON.parse(xmlhttp.responseText);
	    	}
	}
    xmlhttp.open("GET",url,false);
    xmlhttp.send(null);

	// 百度地图API功能
	map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(121.50257596903, 31.402513799794), 1);
	map.enableScrollWheelZoom(true);
	var data_info = myArr;
	var opts = {
				width : 100,     // 信息窗口宽度
				height: 20,     // 信息窗口高度
				title : "TITLE" , // 信息窗口标题
				enableMessage:false//设置允许信息窗发送短息
			   };
	for(var i=0;i<data_info.length;i++){
		var marker = new BMap.Marker(new BMap.Point(data_info[i].x,data_info[i].y));  // 创建标注
		var content = data_info[i].content;
		map.addOverlay(marker);               // 将标注添加到地图中
		marker.addEventListener("mouseover",openInfo.bind(null,content));
	}
	function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	}
</script>